@model SportFutbolWeb.Domain.Entities.Cancha


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle cancha</title>
</head>
<body>

<div>
    <h4>Cancha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCancha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCancha.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenCancha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagenCancha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
